<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
<script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>

<style>
  .form-wrap.form-builder .frmb li.form-field .field-label {
    display: inline;
  }
  li[type]:not([type='title']) {
    margin-left: 15px !important;
    border-left: 1px solid #23232333;
  }
  .save-template {
    display: none !important;
  }
  .introHtml-field .field-label p {
    font-size: 0.94rem;
  }
  .formbuilder-textarea textarea {
    width: 55%;
  }
  .choices-wrap label {
    width: 30% !important;
  }
  .choices-wrap div {
    width: 70% !important;
  }
</style>

<div id="formbuilder-container">
    <div class="formbuilder-header">
        <h2>Constructeur de formulaire</h2>
        <p class="help-text">Glissez et déposez les éléments pour créer votre formulaire.</p>
    </div>

  <div style="display:none;" id="custom_fields">{{ custom_fields }}</div>
  <div id="fb-editor"></div>

</div>

{% include "lib/formBuilderWidget.bundle.html" %}
